/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */
@import 'reset';
@import '_variables';


/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	background: $primary-color;
	font-family: 'Varela Round', sans serif;
	line-height: 1.6;

}

header{
	
	h1{
		a{
			font-family: 'Anton', sans-serif;
			letter-spacing: .3rem;
		}
	}
}

a{
	color: $secondary-color;
	text-decoration: none;
	font-size: 1.1em;
	transform: tr
}

p{
	font-size: .9em;
}

h2{
	font-size: 2.3em;
}


h1{
	font-size: 1.35em;
	font-weight: bold;
	text-align: center;
	margin: 20px 0 30px;

	img{
		max-width: 80px;
	}
}

nav {

	li{
	text-transform: uppercase;
	text-align: center;
	margin: 20px 0;
	}

	a{
	color: $accent-color;
	margin: 15px;
	text-decoration: none;
	background-color:$secondary-color;
	border-radius: .2rem;
	padding: .3rem;
	transition-property: color;
	transition-duration: 1s;

	&:hover{
	animation: fontchange 10s infinite ease-in;

	}

	}
	
}


footer{
	background: #d9e4ea;
	text-align: center;
	padding: 30px;
	margin-top: 40px;
}

/* 2. Content ================================= */

.main-header{
	display: flex;
	flex-direction: column;

	@media screen and (min-width: 768px){

		display: flex;
		align-items: center;
	}

	@media screen and (min-width: 1220px){

    flex-direction: row;
    justify-content: space-around;
	}

}

.banner{
	background: url(../img/traveltoo.jpg);
	background-repeat: none; 
	height: 340px;
	text-align: center;
	padding: 4em ;
	margin-bottom: 50px;
	background-color: #BFE9E6;
	background-blend-mode: multiply;
	background-attachment:fixed;


}

.headline{
	color: #FE0109;
	margin: 30px;
	font-weight: bold;
	font-size: 3rem;
	letter-spacing: .25rem;
	font-family: 'Anton', sans-serif;
  	mix-blend-mode: screen;
}

.tagline{
	color: $accent-color;
	font-size: 1.3em;
}

.col{
	background: #d9e4ea;
	padding: 1em;
	border-radius: 5px;
	margin: 0 .5em .8em;
	max-width: 100%;

	h2, p, h3, {
		text-align: center;
	}

	h2{
		font-size: 2em;
		text-decoration: underline dotted;
	}

	h3{
		font-size: 1.1em;
	}

	p{
		color: $secondary-color;
		font-size: 3.5em;
		margin: 30px 0 25px 0;
	}

	li{
		list-style-type: square;
		margin: 0 10px 0 10px;
		line-height: 1.8;

	}

	@media screen and (min-width: 768px){

		flex: 1;
		display: flex;
		flex-direction: column;
	}

	&:hover{
		animation: glow 1s infinite alternate;
		animation: grow 100s  ease-in;
		border-radius:2px solid purple;
	}
}


// .shadow{
// 		box-shadow: 10px 10px 15px #B989CA;

// }

.buttonmargin{
    margin-top: 30px;
    margin-bottom: 20px;

}

.button{
	background: $secondary-color;
	color: $accent-color;
	padding: 15px;
	border-radius:7px;

	&:hover{
		background:$primary-color;
	}

}

.girl{
	width: 100%;
	position: absolute;
	display: flex;
	img{
		width: 100%;
	}

}

	
@media screen and (min-width: 768px){

	.row, nav ul{
		display: flex;
	}

	.row{
		margin: 0 5em;
	}
}
	

@keyframes glow{
	0% {
    box-shadow: 0 0 10px -10px #E0FFFF;
	}
	100% {
	    box-shadow: 0 0 10px 10px #2B778A;
	}
}

@keyframes grow{
	0% {
    transform: scale(1.1);
	}
	100% {
 	transform: scale(1);;
	}
}
@keyframes fontchange{
	0% {
	 color: #00ff00;
	 background-color:#fff;
	}
}

